<ul>
    <li><a <%if(active=="Home"){%>class="active"<%}%> href="/">Home</a></li>
    <li><a <%if(active=="Features"){%>class="active"<%}%> href="/features">Features</a></li>
    <li><a <%if(active=="News"){%>class="active"<%}%> href="/news">News</a></li>
    <li><a <%if(active=="Login"){%>class="active"<%}%> href="/login">Login</a></li>
    <li><a <%if(active=="Profile"){%>class="active"<%}%> href="/profile">Profile</a></li>
</ul>