<h2>Sign Up Form</h2>

<form action="/signup" method="POST" style="border:1px solid #ccc">
  <div class="container">

    <label for="email"><b>Email</b></label>
    <input class="register-input-text" type="text" placeholder="Enter Email" name="email" required>

    <label for="username"><b>Username</b></label>
    <input class="register-input-text" type="text" placeholder="Enter Username" name="username" required>

    <label for="phone"><b>Phone</b></label>
    <input class="register-input-text" type="text" placeholder="Enter Phone" name="phone">

    <label for="birthday"><b>Birthday</b></label>
    <input class="register-input-text" type="text" placeholder="Enter Birthday" name="birthday">

    <label for="password"><b>Password</b></label>
    <input class="register-input-password" type="password" placeholder="Enter Password" name="password" required>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>